<button
  type="button"
  class="btn px-3 py-2"
  aria-label="Toggle theme"
  data-theme-toggle
  data-i18n-attr="aria-label: aria.toggleTheme; title: footer.themeToggle"
>
  <span class="inline-flex items-center gap-2">
    <!-- Sol (visible en light) -->
    <svg data-icon="sun" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" aria-hidden="true">
      <path fill="currentColor" d="M6.76 4.84l-1.8-1.79L3.17 4.84l1.79 1.8l1.8-1.8ZM1 13h3v-2H1v2Zm10 10h2v-3h-2v3Zm9.83-18.16l-1.79-1.79l-1.8 1.79l1.8 1.8l1.79-1.8ZM17.24 19.16l1.8 1.8l1.79-1.8l-1.79-1.79l-1.8 1.79ZM20 13h3v-2h-3v2ZM12 6a6 6 0 1 0 .001 12.001A6 6 0 0 0 12 6Zm-1-5v3h2V1h-2Z"/>
    </svg>
    <!-- Luna (visible en dark) -->
    <svg data-icon="moon" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" aria-hidden="true">
      <path fill="currentColor" d="M12.004 2a1 1 0 0 1 .949.684a8 8 0 1 0 9.363 9.363a1 1 0 0 1 1.25 1.25A10 10 0 1 1 11.32 1.055A1 1 0 0 1 12.004 2Z"/>
    </svg>
  </span>
</button>